SENDGRID_FROM=
SENDGRID_HOST=
SENDGRID_USER=
SENDGRID_PORT=
SENDGRID_SECURE=
NUXT_PUBLIC_STORE_LAT=
NUXT_PUBLIC_STORE_LNG=
NUXT_PUBLIC_DELIVERY_RADIUS=
NUXT_PUBLIC_ESEWA_URL=
OTP_LENGTH=
OTP_AGE=
SENDGRID_PASS=
NUXT_PUBLIC_BASE_URL=
JWT_SECRET=
ESEWA_SECRET=
COOKIE_AGE=
DATABASE_URL=